body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.header {
background:rgb(60, 60, 209);
text-align: center;
color: aliceblue;
padding: 20px;
}

.home {
  flex: 70%;
  background-color: white;
  padding: 20px;
}

.chatbot {
  float: 30%;
  background-color: #f1f1f1;
  padding: 20px;
  position: fixed;
  right: 0;
  height: 100%;
  width: 25%;
}

.footer {
  padding: 10px;
  text-align: center;
  background:#ddd;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.conteudo {
  display: flex;
  flex-wrap: wrap;
}
